<strong>
  Olá, {{ provider }}
</strong>
<p>Houve um pedido de agendamento, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }}<br>
  <strong>Email: </strong> {{ email }}<br>
  <strong>Data/Hora: </strong> {{ date }}<br><br>
  <small>
    Se houver algum problema para atender o cliente neste horário, por favor avise o cliente!
  </small>
</p>