<strong>
  Olá, {{ name }}
</strong>
<p>Você está recebendo este e-mail porque acesou o recurso de esqueci minha senha do aplicativo GoBarber</p>
<p>Para alterar a sua senha, clique no link abaixo</p>
<p><a href="http://www.dbins.com.br/ferramentas/gobarber/alterar-senha.php?token={{ token }}" target="_blank">GoBarber - Alterar senha</a></p>
